{% extends 'base.html.twig' %}

{% block title %}Nouveau album{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel album</h1>

    {{ include('album/_form.html.twig') }}

    <a href="{{ path('app_homepage') }}">Accueil</a>
{% endblock %}